:root {
  /* Color Variables */

  --beige: #d4b682;
  --brick: #ba2a22;
  --mastard: #f8bd49;
  --sage: #6d7955;
  --door-color: #7d72aa;
  --brown: #976a40;
  --grey-color-of-logo: #393536;

  /* Font Variables */
  --main-font: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* HEADER*/

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  top: 0;
  color: var(--grey-color-of-logo);
  font-family: var(--main-font);
  background-color: var(--door-color);
  z-index: 1;
  border: var(--grey-color-of-logo) 2px solid;
  border-radius: 5px;
  position: sticky;
}

.friends-logo {
  width: 200px;
  height: 125px;
}

body {
  background-color: var(--door-color);
  font-family: var(--main-font);
  margin: 0px 200px 0px 200px;
}

main {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 100px;
}

/* QUESTION CARD*/

.question-card {
  background-color: var(--mastard);
  border-radius: 10px;
  border: var(--grey-color-of-logo) 2px solid;
  font-size: 1.5rem;
  color: var(--grey-color-of-logo);
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  width: 80%;
  margin-bottom: 30px;
  padding: 30px;
}

.question-text {
  text-align: center;
}

.bookmark-button {
  width: 50px;
  height: 50px;
  display: flex;
  padding-top: 0px;
  padding-left: 15px;
  position: absolute;
  top: -15px;
  right: 5%;
}

.answer-button {
  background-color: var(--sage);
  margin-top: 20px;
  margin-bottom: 10px;
  height: 50px;
  width: 80px;
  border-radius: 8px;
  border: 2px solid var(--beige);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: var(--beige);
}

.hashtags-list {
  display: flex;
  justify-content: start;
  list-style-type: none;
}

.hashtags {
  color: var(--brick);
  background-color: var(--door-color);
  padding: 5px 10px;
  margin: 2px;
  border-radius: 5px;
  font-size: 0.8em;
  display: flex;
}

/*FOOTER*/

footer {
  color: var(--mastard);
  background-color: var(--door-color);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 85px;
  z-index: 1;
  border: var(--grey-color-of-logo) 2px solid;
}

.footer-navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 340px 10px 340px;
}

.nav__icon {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  top: 10px;
}

.active {
  background: var(--sage);
  border-radius: 20%;
  padding: 8px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.how-you-doin-img {
  width: 200px;
  height: 100px;
}

.joye-image {
  width: 70%;
  top: 200px;
  margin: auto;
}
