:root {
  /* Color Variables */

  --beige: #d4b682;
  --brick: #ba2a22;
  --mastard: #f8bd49;
  --sage: #6d7955;
  --door-color: #7d72aa;
  --brown: #976a40;
  --grey-color-of-logo: #393536;
}

header {
  height: 150px;
  text-align: center;
  color: var(--grey-color-of-logo);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  justify-content: center;
  background-color: var(--door-color);
}

header > h1 {
  padding-top: 20px;
  padding-left: 10px;
}

.friends-logo {
  width: 200px;
  height: 125px;
}

body {
  background-color: var(--door-color);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.question-card {
  background-color: var(--mastard);
  border-radius: 10px;
  width: 70%;
  height: 250px;
  font-size: 1.5rem;
  color: var(--grey-color-of-logo);
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  margin: auto;
  margin-bottom: 30px;
  padding: 30px;
  position: relative;
}

.bookmark-button {
  width: 50px;
  height: 50px;
  display: flex;
  padding-top: 0px;
  padding-left: 15px;
  position: absolute;
  top: -15px;
  right: 5%;
}

.answer-button {
  background-color: var(--sage);
  height: 50px;
  width: 80px;
  border-radius: 8px;
  border: 2px solid var(--beige);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: var(--beige);
}

footer {
  color: var(--mastard);
  background-color: var(--door-color);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-link {
  width: 50px;
  height: 50px;
  margin: 30px;
}

.footer-link.active {
}

.hashtags {
  color: var(--brick);
}
