:root {
  /* Color Variables */

  --beige: #d4b682;
  --brick: #ba2a22;
  --mastard: #f8bd49;
  --sage: #6d7955;
  --door-color: #7d72aa;
  --brown: #976a40;
  --grey-color-of-logo: #393536;
}

/* HEADER*/

header {
  position: fixed;
  display: flex;
  justify-content: center;
  color: var(--grey-color-of-logo);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: var(--door-color);
  z-index: 1;
  width: 100vw;
  top: 0;
}

header > h1 {
  padding-top: 20px;
  padding-left: 10px;
}

.friends-logo {
  width: 200px;
  height: 125px;
}

body {
  background-color: var(--door-color);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
}

/* QUESTION CARD*/

.question-card {
  background-color: var(--mastard);
  border-radius: 10px;
  width: 70%;
  height: 300px;
  font-size: 1.5rem;
  color: var(--grey-color-of-logo);
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  margin: auto;
  margin-bottom: 30px;
  padding: 30px;
  position: relative;
  top: 130px;
}

.bookmark-button {
  width: 50px;
  height: 50px;
  display: flex;
  padding-top: 0px;
  padding-left: 15px;
  position: absolute;
  top: -15px;
  right: 5%;
}

.answer-button {
  background-color: var(--sage);
  height: 50px;
  width: 80px;
  border-radius: 8px;
  border: 2px solid var(--beige);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: var(--beige);
}

.hashtags-list {
  display: flex;
  justify-content: flex-start;
  padding-top: 10px;
}

.hashtags {
  color: var(--brick);
  display: flex;
  background-color: var(--brown);
  padding: 5px 10px;
  margin: 2px;
  border-radius: 5px;
  font-size: 0.8em;
}

/*FOOTER*/

footer {
  color: var(--mastard);
  background-color: var(--door-color);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 85px;
  z-index: 1;
}

.footer-navbar {
  display: flex;
  justify-content: center;
  padding: 10px 20px 10px 20px;
}

.nav__icon {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  top: 10px;
}

.active {
  background: var(--sage);
  border-radius: 20%;
  padding: 8px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
